$b-font: Verdena, Geneva, Tahoma, sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-family: $b-font;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 20px;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: column;

  .details h3 {
    font-size: 24px;
    opacity: 0;
  }

  .details p {
    font-size: 16px;
    opacity: 0;
  }
}

.details {
  position: absolute;
  bottom: 20px;
  left: 20px;
  visibility: hidden;
}

.panel.active {
  flex: 5;

  .details {
    visibility: visible;
  }

  .details h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }

  .details p {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
}

@media (max-width: 1300px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .panel .details {
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }
}
